{% extends 'base.html' %}
{% load static %}

{% block content %}








<table class="table table-striped table-responsive mt-5" id="myTable">
    <thead>
        <tr>
            <th scope="col">Post Id</th>
            <th scope="col">Post Name</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">Tag</th>
            <th scope="col">Likes</th>
            <th scope="col">DisLikes</th>
            <th scope="col">Action</th>






        </tr>
    </thead>
    <tbody id="tb">

        {% for post in posts %}



        <tr>
            <td>{{post.id}}</td>
            <td>{{post.image_add.post_name}}</td>
            <td><img width="100" src="{% static 'images' %}/{{post.images}}" alt=""></td>
            
            <td>{{post.description}}</td>
            <td>{{post.tag}}</td>
            <td>{{post.likes}}</td>
            <td>{{post.dislikes}}</td>
            
            <td><a href="{% url 'likedusers' post.id %}"><button type="button"  class="btn btn-primary waves-effect waves-light">
                Who Liked</button></a></td>



        </tr>
        {% endfor %}

    </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#category"> Add new Post</button>
<div class="modal fade right" id="category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <p class="heading lead " style="display: inline;">Add new Post</p>

                <button type="button" id="addnewimage" class="btn btn-primary waves-effect waves-light">Add
                    Image</button>
                <br>

            </div>


            <form action="" method="POST" style="padding: 2em;" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <input type="text" class="form-control" id="postname" name="postname" placeholder="Post Name"
                            required>
                    </div>

                </div>


                <div id="imagecon" class="form-group col-md-12">

                    <label for="password">Image</label>
                    <input type="file" class="form-control" id="image" name="image" placeholder="Image" required>
                    <br>
                    <input type="text" class="form-control" id="desc" name="desc" placeholder="Description" required>
                    <br>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="Tag" required>


                </div>

                <div class="modal-footer justify-content-center mt-4">
                    <button type="submit" id="subbtn" class="btn btn-primary waves-effect waves-light">Add</button>

                    <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
                </div>
            </form>

        </div>


    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script>
    const addbtn = document.getElementById('addnewimage')

    $(addbtn).click(() => {


        var html = '<br><label for="password">Image</label><input type="file" class="form-control" id="image" name="image" placeholder="Image" required><br> <input type="text" class="form-control" id="desc" name="desc" placeholder="Description" required><br><input type="text" class="form-control" id="tag" name="tag" placeholder="Tag" required>';
                    
        $('#imagecon').append(html)
    })

  
</script>

{% endblock content %}